{% for cat_name, cat_teztnets in teztnets.items() %}
# {{ cat_name }}

{{ category_desc[cat_name] }}

| | Activated on | Faucet | Rolling Snapshot |
|-------|---------------------|--|-----|
{% for k, v in  cat_teztnets.items() -%}
| [{{ v["human_name"] }}](/{{ v["human_name"] | lower }}-about) | `{{ v["activated_on"] }}` | {% if v["faucet_url"] | length > 0 %} [Faucet]({{ v["faucet_url"]}}) {% endif %}| {% if v["snapshot_url"] | length > 0 %} [Snapshot]({{ v["snapshot_url"]}}) | {% endif %}
{% endfor %}

{% endfor %}
