{% for cat_name, cat_teztnets in teztnets.items() %}
# {{ cat_name }}

{{ category_desc[cat_name] }}

| | Activated on | Faucet | Rolling Snapshot |
|-------|---------------------|--|-----|
{% for k, v in  cat_teztnets.items() -%}
| [{{ v["human_name"] }}](/{{ v["human_name"] | lower }}-about) | `{{ v["activated_on"] }}` | {% if "faucet_url" %} [Faucet]({{ v["faucet_url"]}}) {% endif %} | {% if "snapshot_url" %} [Snapshot]({{ v["snapshot_url"]}}) {% endif %}|
{% endfor %}

{% endfor %}
